@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: hsl(204, 43%, 93%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0;
  min-height: 100vh;

}

.container {
  background-color: #ffffff;
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

section {
  padding: 35px;
}

.cyan {
  background-color: hsl(179, 62%, 43%);
  color: #ffffff;
}

.light-cyan {
  background-color: hsl(179, 47%, 52%);
  color: #ffffff;
}

.row {
  display: flex;
}

.row > section {
  flex: 1;
}

h1 {
  color: hsl(179, 62%, 43%);
  font-size: 40px;
}

.yellow-text {
  color: hsl(71, 73%, 54%);
}

p {
  font-size: 18px;
  color: hsl(218, 22%, 67%);
}

section.cyan p {
  color: #ffffff;
}

button {
  background-color: hsl(71, 73%, 54%);
  width: 100%;
  padding: 15px 0;
  font-family: 'Karla', sans-serif;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 700;
  border: none;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
  opacity: 0.6;
  font-size: 15px;
}

ul li {
  line-height: 23px;
}

footer {
  margin: auto auto 0 auto;
}
